<%= render partial: 'shared/main_nav' %>
<%= render partial: 'shared/masthead' %>
<%= render partial: 'shared/sections_nav' %>
<%= render partial: 'shared/search_modal' %>
<%= render partial: 'shared/main_content' %>


<div class="dropdown1">
    <ul id="gear-dropdown" class="gear-dropdown hidden">
        <li>
            <ul class="editions">
                <span class="dropdown-subtitle">Edition</span>
                <br>
                <li><a href="#">CSS</a></li>
                <br>
                <li><a href="#">HTML</a></li>
                <br>
                <li><a href="#">Javascript</a></li>
                <br>
                <li><a href="#">Ruby</a></li>
            </ul>
        </li>
</div>
<div class="dropdown2">
        <li>
            <span class="dropdown-subtitle">Help</span>
            <ul class="help">
                <br>
                <li><a href="#">FAQ</a></li>
                <br>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </li>
    </ul>

</div>